@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    background-color: #720418;
}

.logos img{
    width: 282.59px;
    height: 85.04;
    margin: 45px 0 0 32px;
}

.login-page {
  width: 662px;
  margin: 100px  auto 0;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 462px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form h1{
    margin: 20px auto;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 1px solid gray;
  margin: 10px auto;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 40px 0 0 0; 
  outline: 0;
  background: #E16A00;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

