body {
    background: #FFFAF5;
}

.searchMain {
    margin-top: 100px;
    margin-bottom: 100px;
}

.searchLeftContainer {
    padding-left: 130px;
}

.searchText {
    color: #241400;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 70.63px;
    word-wrap: break-word
}

.searchText h1 {
    font-size: 35px;
    font-weight: 700;
    color: #241400;
}

.searchInputButton {
    display: flex;
    flex-direction: column;
    width: 84.58%;
    margin-top: 45px;
}

.searchInputButton input {
    height: 60px;
    font-size: 23px;
    width: 360px;
    padding: 20px;
    font-weight: 400;
    font-family: 'Crimson Text';
    color: #E16A00;
    outline: none;
    padding-left: 27px;
    border: 1px solid #CECECE;
    border-radius: 5px;

}

.searchInputButton ::placeholder {
    color: #241400;
    font-size: 19px;
    font-family: Crimson Text;
    font-weight: 200;
    word-wrap: break-word
}

.searchInputButton button {
    margin-top: 45px;
    height: 60px;
    width: 360px;
    background-color:
        #E16A00;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Crimson Text';
    color: #fff;
    border-radius: 5px;
}

.searchInputButton button:hover {
    opacity: 0.8;
}

.searchMain {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


.searchAboutBook {
    width: 50%;
    position: relative;
}

.card {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    padding-bottom: 120px;
}

.insideCard {
    display: flex !important;
}

.insideCard div:first-child {
    margin-top: 65px;
    width: 200px;
    margin-left: 30px;
}

.bookText {
    margin-top: 65px;
    margin-left: 35px;
    margin-right: 30px;
}

.bookText h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;

    color: #241400;

}

.bookText h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: lighter;
    line-height: 35px;
    letter-spacing: 0em;
    color: #4b4137;

}

.bookText p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    color: #120a00;
    width: 390px;
}

.splide__arrows {
    display: none;
}

.search-container {
    margin: 20px;
    text-align: center;
}

#inputSearch {
    padding: 10px;
    width: 300px;
}

.searchInputButton {
    padding: 10px 20px;
    cursor: pointer;
}

.insideCard {
    margin: 20px auto;
    max-width: 800px;
}

.card {
    width: 85%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
}

.search-img {
    width: 100%;
    height: auto;
    display: block;
}

.bookText {
    padding: 20px;
}

.bookText h2,
.bookText h3,
.bookText p {
    margin: 0 0 10px;

}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 60px;
    height: 60px;
    display: none;
}


#nex {
    display: none;
    transform: rotate(180deg);
    padding-top: 225px;
    padding-left: 50px;
}

#pre {
    display: none;
    padding-top: 300px;
    padding-left: 50px;
}

.card {
    display: flex;
    padding: 20px;
    max-width: 70%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    flex-direction: column;
}

.card img {
    max-width: 80%;
    height: auto;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.card-title {
    margin: 10px 0;
    color: #241400;
    font-size: 1.5em;
}

.card-subtitle {
    margin: 0 0 10px;
    color: #4b4137;
    font-size: 1.2em;
}

.card-text {
    margin: 0 0 10px;
    color: #120a00;
    white-space: wrap;
    overflow: hidden;
    width: 350px;
    font-size: 1em;
}

@media (min-width: 768px) {
    .card {
        flex-direction: row;
        max-width: 750px;
        height: 500px;
    }

    .card img {
        width: 200px;
        height: 300px;
        border-radius: 8px 0 0 8px;
    }
}