@media only screen and (min-width: 769px) {
  .back {
    margin-left: 2%;
  }
  .text {
    width: 100%;
    font-size: 15px;
  }
  .div1 {
  }
}
@media only screen and (min-width: 320px) and (max-width: 540px) {
  .div1 {
    width: 90%;
    text-align: center;
    margin-left: 20px;
  }

  .text {
    width: 90%;
    margin-top: 8px;
  }
  .back {
    width: 81px;
    margin-top: 51px;
  }
  .book {
    text-align: center;
  }

  .div2 img {
    width: 86%;
    /* height: 388px; */
    margin-top: 47px;
    margin-left: 10px;
    /* margin-right: 23px;  */
  }

  .year {
    margin-top: 58px;
  }
  .order {
    width: 80%;
    margin-top: 44px;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 196.187%;
    /* margin-left: 62px;
    margin-right: 55px; */
  }

  .day {
    display: none;
  }

  .text-title {
    width: 90%;
    margin-top: -15px;
    color: var(--, #241400);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 196.187%; /* 23.542px */
  }

  .input {
    width: 90%;
    
  }

  

}
@media only screen and (max-width: 768px) {
  /* #section {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  .div1 {
    width: 96%;
    text-align: center;
    margin-top: 35px;
  }
  #section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .book {
    flex-direction: column-reverse;
    /* align-items: center; */
  }
  .back {
    margin-top: 70px;
  }
  .text {
    font-size: 15px;
  }
  .buttons {
    display: flex;
    justify-content: start;
    width: 100%;
  }
  .div2 img {
    margin: 0;
    margin-bottom: 30px;
  }
  .div2 {
    text-align: center;
  }
  .input {
    width: 65%;
  }
  .book-container {
    width: 65%;
  }
}
