/* //----------------------------------------- Response for tablet mod */

@media only screen and (max-width: 768px) {
    .book{
      display: flex;
      flex-direction: column;
      margin-left: 15%;
    }
    .books h3 {
      margin-left: -35px;
    }
    #mySlider1{
      margin-left: 0%;
    }
    #mySlider2{
      margin-left: 0%;
    }
    #mySlider3{
      margin-left: 0%;
    }
    .category{
      margin-left: -2%;
      margin-bottom: 2%;
    }
  
    .splide__slide img{
      width: 85%;
    }
    .splide__slide button{
      width: 85%;
    }
  }

  @media only screen and (max-width: 920px) { 
    .books{
      margin-left: -5%;
    }
  }
  
  /* //----------------------------------------- Response for mobile mod */

  
  @media only screen and (max-width: 576px) {
    .book{
      display: flex;
      flex-direction: column;
    }
    .newP{
      margin-left: 65%;
    }
    .books{
      margin-left: -3%;
      display: flex;
      height: 26.977px;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      width: 281px;
    }
    .category{
      width: 80%;
      display: flex;
      align-items: flex-start;
      width: 290px;
    }
    #mySlider1{
      margin-left: 18%;
      width: 270px;
      height: 352px;
     
    }
    #mySlider2{
      margin-left: 18%;
      width: 270px;
      height: 352px;
      flex-shrink: 0;
    }
    #mySlider3{
      margin-left: 18%;
      width: 270px;
      height: 352px;
      flex-shrink: 0;
    }
  
  }
  